---
import BaseHead from "~/components/baseHead.astro";
import Header from "~/components/header.astro";

import { Image } from "astro:assets";
import nvdLogo from "~/assets/new-vista-digital.png";
const widths = [650, 800];
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <BaseHead index="noIndex" />
  <body
    class="h-full overflow-x-hidden selection:bg-secondary selection:text-white"
  >
    <Header />
    <div class="space-y-12 px-8">
      <h2 class="sr-only text-center font-bold text-2xl">
        Floor Trade Marketing
      </h2>
      <Image
        class="mx-auto w-72"
        src={nvdLogo}
        widths={widths}
        loading="eager"
        alt="Google 5 star reviews"
      />
      <div class="ml-embedded min-h-52 text-center text-2xl" data-form="JyLrYQ">
        Loading...
      </div>
      <p class="text-center text-gray-700">
        Need help? Reach out to <b
          ><a href="mailto:jesse@newvistadigital.com"
            >jesse@newvistadigital.com</a
          ></b
        ><br />
        or call me at <b><a href="tel:7196391470">(719) 639-1470</a></b>
      </p>
    </div>
  </body>
</html>
