---
import BaseHead from "~/components/baseHead.astro";
import Header from "~/components/header.astro";

import { Image } from "astro:assets";
import socoLogo from "~/assets/soco-logo.png";
const widths = [650, 800];
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <BaseHead index="noIndex" title="Handy Dad" />
  <body
    class="h-full overflow-x-hidden selection:bg-secondary selection:text-white"
  >
    <Header />
    <div class="space-y-12 px-8">
      <h2 class="sr-only text-center font-bold text-2xl">SoCo Customs</h2>
      <Image
        class="mx-auto w-72"
        src={socoLogo}
        widths={widths}
        loading="eager"
        alt="Google 5 star reviews"
      />
      <div class="ml-embedded" data-form="KqA7XW">Loading...</div>
      <p class="text-center text-gray-700">
        Need help? Reach out to <b
          ><a href="mailto:jesse@newvistadigital.com"
            >jesse@newvistadigital.com</a
          ></b
        ><br />
        or call me at <b><a href="tel:7196391470">(719) 639-1470</a></b>
      </p>
    </div>
    <script is:inline>
      (function (w, d, e, u, f, l, n) {
        (w[f] =
          w[f] ||
          function () {
            (w[f].q = w[f].q || []).push(arguments);
          }),
          (l = d.createElement(e)),
          (l.async = 1),
          (l.src = u),
          (n = d.getElementsByTagName(e)[0]),
          n.parentNode.insertBefore(l, n);
      })(
        window,
        document,
        "script",
        "https://assets.mailerlite.com/js/universal.js",
        "ml",
      );
      ml("account", "1110919");
    </script>
  </body>
</html>
