---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection
  title="More reviews. More business."
  id="intro"
  classes="px-8 py-24 bg-offset"
>
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    ReviewBooster is the <span class="text-primary">fastest</span> and <span
      class="text-primary">easiest</span
    > way to request reviews from your customers and boost your rating on <span
      class="text-primary">Google</span
    >, Yelp, and more.<br /><br />Plus, we <span class="text-primary"
      >fully manage</span
    > your Google business profile and respond to all reviews for you. No AI, just
    real humans.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2"> -->
  <!--   <a -->
  <!--     href="https://docs.astro.build/" -->
  <!--     class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" -->
  <!--   > -->
  <!--     <Icon name="mdi:telescope" class="size-8" /> -->
  <!--     <span>Read the docs</span> -->
  <!--   </a> -->
  <!--   <a -->
  <!--     href="https://astro.new/" -->
  <!--     class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" -->
  <!--   > -->
  <!--     <Icon name="mdi:rocket" class="size-8" /> -->
  <!--     <span>Try it out</span> -->
  <!--   </a> -->
  <!-- </div> -->
</ContentSection>
